*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none !important;}
.search-boxe{border-radius: 12px !important; min-height: 40px;max-height: auto; background: #0000000D !important; border: none;    transition: all 0.3s; font-weight: 500;}
.search-boxe:focus{border: none;box-shadow: none;outline: none !important;}  
