/* *{padding: 0;margin: 0; box-sizing: border-box;}
*{font-family: 'Poppins', sans-serif;}
.side-static-nav{height: 100dvh; width: 18%;}
.dashboard{height: 100dvh; width: 82%;}
.static-nav-hover:hover{background-color: #989898;}
.text-label-nav{color: #7a7a7a;}
.text-label-nav:hover{color: #7a7a7a !important;}
.dashboard{background-color:#eaf0f9 ;}
.global-search-nav{background-color:#fff ;height: 60px; box-shadow: 0 2px 2px #00000027; }
.fa-magnify-glon{left: 37px;position: absolute;}
.search-boxe{padding-left: 37px !important;}
.border-globlr{border-radius: 12px;}
.border-globlr:hover{background-color: #00000027;} */